<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
   <header>
      <% include ../partials/header %>
   </header>
   <div class="m-auto w-50 border rounded">
      Uninvested Money: <%= money %>
   </div>
</body>
</html>